* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    color: #333333;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 55px;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 42px;
        line-height: 50px;
    }
  }

h2 {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    h2 {
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 24px;
    }
  }

h3 {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}


button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
}


/* Global */

.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-orange {
    color: #E66733;
}

/* Navigation */

.main-header {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}

.header-box {
    /* position: fixed;
    z-index: 100; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 60px;
    padding-top: 20px;
}

.menu-list {
    display: flex;
}

.menu-element {
    margin-right: 32px;
}

.menu-element a {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.menu-element a:hover {
    border-bottom: 2px solid #E66733;
}

.mobile-header {
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.mobile-menu .contacts a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #E66733;
}

.contacts a:visited {
    color: #E66733;
}

.to-main img {
    display: block;
}

@media (max-width: 1024px) {
    .mobile-invisible {
        display: none;
    }
}

@media (max-width: 768px) {
    .tablet-invisible {
        display: none;
    }
}


@media (min-width: 1025px) {
    .desktop-invisible {
        display: none;
    }
}

@media (min-width: 769px) {
    .desktop-tablet-invisible {
        display: none;
    }
}

/* About section */

.headers {
    margin: 80px 0 56px;
}

@media (max-width: 1024px) {
    .headers {
        margin: 40px 0 32px;
    }
}

.description {
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .description {
        flex-direction: column;
    }
}

.profile-image {
    margin-right: 56px;
}

@media (max-width: 1024px) {
    .profile-image {
        margin-right: 0;
    }
  }

@media (max-width: 1024px) {
    .profile-image img {
        width: 100%;
        height: auto;
    }
  }

.about-me {
    margin-top: -40px;
}

@media (max-width: 1024px) {
    .about-me {
        margin-top: 24px;
    }
  }

.about-me p {
    margin-bottom: 40px;
    width: 630px;
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

@media (max-width: 1024px) {
    .about-me p {
        width: 100%;
    }
  }

.button {
    display: inline-block;
    width: auto;
    min-width: 120px;
    height: 40px;
    padding: 0 24px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    background-color: #333333;
    border-radius: 4px;
}

.orange-button { 
    background-color: #E66733;
}

.about-me .black-button {
    margin-right: 32px;
}

.black-button:hover {
    background-color: #E66733;
}

.orange-button:hover {
    background-color: #333333;
}

/* Skills */

.skills-list {
    padding-top: 110px;
}

@media (max-width: 1024px) {
    .skills-list {
        padding-top: 80px;
    }
  }

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    margin: 0 278px 56px 0;
}

@media (max-width: 1024px) {
    .skill {
        margin: 0 48px 32px 0;
    }
  }

.skill .header {
    margin-bottom: 8px;
}

.skill-elements li {
    margin-bottom: 8px;
}

.skill-elements .element-value {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

.skill-elements .two-elements {
    display: flex;
}

.two-elements .element-value {
    margin-right: 10px;
}

.element-description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #828282;
}

/* Work */

.portfolio {
    padding-top: 80px;
}

@media (max-width: 1024px) {
    .portfolio {
        padding-top: 40px;
    }
  }

.portfolio h2 {
    margin-bottom: 64px;
}

@media (max-width: 1024px) {
    .portfolio h2 {
        margin-bottom: 32px;
    }    
  }

.portfolio .work-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

@media (max-width: 1024px) {
    .portfolio .work-element {
        flex-direction: column;
        margin-bottom: 64px;
        align-items: flex-start;
    }   
  }

@media (max-width: 1024px) {
    .portfolio .random-task {
        flex-direction: column-reverse;
    }   
  }

.work-img {
    max-width: 780px;
    max-height: 460px;
}

@media (max-width: 1024px) {
    .work-img {
        width: 100%;
        margin-bottom: 32px;
    } 
  }

.work-element-description h3 {
    margin-bottom: 12px;
}

.work-element-description .text {
    max-width: 368px;
    margin-bottom: 48px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

@media (max-width: 1024px) {
    .work-element-description .text {
        margin-bottom: 40px;
    } 
  }

.work-element .button {
    margin-right: 32px;
}

.external-link {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #E66733;
}

/* Experience */

.experience-list {
    padding-top: 30px;
    margin-bottom: 100px;
}

@media (max-width: 1024px) {
    .experience-list {
        padding-top: 0;
        margin-bottom: 64px;
    }
}

.experience-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience-element h2 {
    margin-bottom: 36px;
}

@media (max-width: 1024px) {
    .experience-element h2 {
        margin-bottom: 32px;
    }
}

@media (max-width: 1024px) {
    .education h2 {
        margin-top: 16px;
    }
}

.job-element {
    margin-bottom: 40px;
}

.job-element h3 {
    margin-bottom: 8px;
}

.place-dates {
    display: flex;
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    .job-element .for-mobile {
        display: block;
    }
}

.work .job-description {
    list-style: disc;
    padding-left: 20px;
}

.work .job-description li:last-child {
    list-style: none;
}

.place-dates .place {
    margin-right: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #333333;
}

.place-dates .dates {
    margin-right: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #828282;
}

.job-element .text {
    margin-bottom: 8px;
    max-width: 540px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

.experience-element a {
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    border-bottom: 2px solid #E66733;
}

.contests h2 {
    padding-top: 16px;
}

.education .text {
    margin-bottom: 16px;
}

.contests .text {
    margin-bottom: 16px;
}

/* Contacts */

.contacts-screen-bg {
    background-color: #171717;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 56px;
    height: 100%;
}

@media (max-width: 1024px) {
    .contacts-screen-bg {
        padding-top: 56px;
        height: auto;
    }
}

.footer-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.contact-list h1 {
    margin-bottom: 120px;
    max-width: 508px;
    line-height: 52px;
}

@media (max-width: 1024px) {
    .contact-list h1 {
        margin-bottom: 48px;
        width: 100%;
        line-height: 50px;
    }
}

.contacts-elements {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .contacts-elements {
        flex-direction: column;
    }
    
}

.contacts-elements a {
    margin-right: 176px;
    margin-bottom: 72px;
    width: 200px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
}

@media (max-width: 1024px) {
    .contacts-elements a {
        margin-right: 0;
        margin-bottom: 32px;
        width: 200px;
        font-size: 38px;
        line-height: 44px;
    }
    
}

.contacts-elements a:hover {
    color: #E66733;
}

/* Ipoteka.Center */

.project-wrapper {
    padding-top: 64px;
}

@media (max-width: 1024px) {
    .project-wrapper {
        padding-top: 40px;
    }
  }

.link-to-main {
    display: flex;
    align-items: baseline;
}

.link-to-main p {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
}

.arrow-back {
    margin-right: 16px;
}

.project-description {
    padding-top: 80px;
    display: flex;
}

@media (max-width: 1024px) {
    .project-description {
        flex-direction: column-reverse;
        padding-top: 24px;
    }
  }

.project-image {
    position: relative;
}

@media (max-width: 1024px) {
    .base-image {
        width: 100%;
        height: auto;
    }
  }

.hovering-image {
    position: absolute;
    bottom: -40px;
    right: -40px;
    max-width: 160px;
}

@media (max-width: 1024px) {
    .hovering-image {
        height: auto;
        bottom: -30px;
        right: -20px;
    }
  }

@media (max-width: 560px) {
    .hovering-image {
        max-width: 100px;
    }
  }


.left-side {
    margin-right: 20px;
    margin-top: 64px;
}

.left-side h1 {
    margin-bottom: 24px;
}

.project-page p {
    max-width: 468px;
    margin-bottom: 88px;
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

@media (max-width: 768px) {
    .project-page p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 48px;
    }
  }

.project-dates {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.area {
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    color: #E66733;
}

.overview {
    padding-top: 160px;
    margin-bottom: 80px;
}

@media (max-width: 1024px) {
    .overview {
        padding-top: 72px;
        margin-bottom: 56px;
    }
  }

.two-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

@media (max-width: 1024px) {
    .two-columns {
        flex-direction: column;
    }
  }

.paragraph {
    max-width: 720px;
    padding-top: 10px;
}

@media (max-width: 1024px) {
    .paragraph {
        padding-top: 0;
    }
  }

.paragraph p {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.screencast-video {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
    .screencast-video {
        width: 100%;
        height: auto;
    }
  }

.with-image {
    align-items: center;
    margin-bottom: 56px;
}

@media (max-width: 1024px) {
    .with-image {
        align-content: flex-start;
    }
  }

.two-columns .text-part {
    margin-right: 24px;
}

.text-part h2 {
    margin-bottom: 24px;
}

.text-part p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

@media (max-width: 1024px) {
    .text-part p {
        margin-bottom: 40px;
    }
  }

.image-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1024px) {
    .image-part {
        width: 100%;
    }
  }

@media (max-width: 1024px) {
    .image-part img {
        width: 100%;
        height: auto;
    }
  }

.image-description {
    padding-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #828282;
}

.one-column {
    margin-bottom: 80px;
}

@media (max-width: 1024px) {
    .one-column {
        margin-bottom: 56px;
    }
  }


.one-column h3 {
    margin-bottom: 8px;
}

.one-column .text-part {
    max-width: 710px;
    margin-bottom: 36px;
}

.one-column .text-part p {
    margin-bottom: 12px;
}

.slider {
    margin-bottom: 80px;
}

@media (max-width: 1024px) {
    .slider {
        margin-bottom: 56px;
    }
}


.outcomes .two-columns {
    margin-bottom: 104px;
}


/* Slider */

.swiper-container {
    width: 100%;
    height: 100%;
}

.small-swiper {
    max-width: 708px;
}

@media (max-width: 1024px) {
    .small-swiper {
        width: 100%;
        height: auto;
    }
}

.fullsize-swiper {
    max-width: 1200px;
}

@media (max-width: 1024px) {
    .fullsize-swiper {
        width: 100%;
        height: auto;
    }
}

.swiper-wrapper {
    position: relative;
}

.swiper-slide {
    height: 50px;
    text-align: center;
    font-size: 18px;

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .swiper-slide img {
        width: 100%;
        height: auto;
    }
}

.button-next, .button-prev {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
}

.button-next {
    background: url(../img/ipoteka/chevron_forward.svg) no-repeat 0 0;
    right: 16px;
}

.button-prev {
    background: url(../img/ipoteka/chevron_backward.svg) no-repeat 0 0;
    left: 16px;
}

.image-part .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}

.image-part .swiper-pagination-bullet-active {
    background-color: #333333;
}